<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ConsumerAffairs Code Challenge</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">CACC</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto nav-bar-right">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'swagger' %}" target="_blank">Swagger</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'api-root' %}" target="_blank">Browse API</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/scardine/consumeraffairs" target="_blank">Github</a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'rest_framework:logout' %}?next=/">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'rest_framework:login' %}?next=/">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <p>&nbsp;</p>
        <h1 class="text-center">CA Code Challenge</h1>

        <h3>
            Backend Practical
        </h3>

        <p>
            Using Django, create a simple API that allows users to post and retrieve their reviews.
        </p>

        <h3>
            Acceptance Criteria
        </h3>

        <ul>
            <li>
                The completed assignment must be hosted in a <a href="https://github.com/scardine/consumeraffairs">git repository</a>
            </li>
            <li>
                The repository must
                <a href="https://github.com/scardine/consumeraffairs/commits/master">
                    include commit history (e.g., more than one commit)
                </a>
            </li>
            <li>
                Users are able to <a href="{% url 'review-list' %}">submit reviews</a> to the API
            </li>
            <li>
                Users are able to <a href="{% url 'review-list' %}">retrieve reviews</a> that they submitted
            </li>
            <li>
                Users <a href="https://github.com/scardine/consumeraffairs/blob/master/reviews/views.py#L15">cannot see reviews submitted by other users</a>
            </li>
            <li>
                Use of the API requires a unique auth token for each user
            </li>
            <li>
                Submitted reviews must include, at least, the following attributes:
                <ul>
                    <li>
                        Rating - <a href="https://github.com/scardine/consumeraffairs/blob/master/reviews/models.py#L11">must be between 1 - 5</a>
                    </li>
                    <li>
                        Title - <a href="https://github.com/scardine/consumeraffairs/blob/master/reviews/models.py#L17">no more than 64 chars</a>
                    </li>
                    <li>
                        Summary - <a href="https://github.com/scardine/consumeraffairs/blob/master/reviews/models.py#L18">no more than 10k chars</a>
                    </li>
                    <li>
                        IP Address - <a href="https://github.com/scardine/consumeraffairs/blob/master/reviews/views.py#L27">IP of the review submitter</a>
                    </li>
                    <li>
                        Submission date - the date the review was submitted
                    </li>
                    <li>
                        Company - information about the company for which the review was submitted, can be simple text (e.g., name, company id, etc.) 
                        or a <a href="https://github.com/scardine/consumeraffairs/blob/master/reviews/models.py#L6">separate model altogether</a>
                    </li>
                    <li>
                        Reviewer Metadata - <a href="https://github.com/scardine/consumeraffairs/blob/master/reviews/views.py#L27">
                        information about the reviewer</a>, can be simple text (e.g., name, email, reviewer id, etc.) or a separate model altogether
                    </li>
                </ul>
            </li>
            <li>
                Unit tests must be included providing 100% code coverage
            </li>
            <li>
                Include instructions on local setup details for both “app setup” and “data setup”
            </li>
        </ul>

        <h3>
            Optional:
        </h3>
        <ul>
            <li>
                Provide an <a href="{% url 'admin:index' %}">authenticated admin view</a> that allows me to view review submissions
            </li>
            <li>
                <a href="{% url 'swagger' %}">
                    Document the API
                </a>
            </li>
        </ul>

        <p>
            Organize the schema and data models in whatever manner you think makes the most sense and feel free to add any additional style and flair to the project that you'd like.
        </p>


    </div>
{% block javascript_bottom %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>